---
import '../styles/main.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title?: string;
  description?: string;
  hideFooter?: boolean;
}

const {
  title = 'Sandikala Studio',
  description = 'Sandikala Studio.',
  hideFooter = false,
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" href="/fonts/ABCDiatype-Medium.ttf" as="font" type="font/ttf" crossorigin />
    <link rel="preload" href="/fonts/ABCDiatypeMono-Medium.ttf" as="font" type="font/ttf" crossorigin />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="page-container" tabindex="-1">
      <slot />
      {!hideFooter && <Footer />}
    </main>
  </body>
</html>
